@charset "utf-8";
/* CSS Document */
body{margin:auto;}
.main{background: url("images/back.jpg") no-repeat scroll 0 0 / 100% 765px rgba(0, 0, 0, 0);height: 765px;width: 100%;}
.main1{background: url("images/gfgfb.jpg") no-repeat scroll 0 0 / 100% 1720px rgba(0, 0, 0, 0);height:1720px;width: 100%;}
.main2{background: url("images/dfdf.jpg") no-repeat scroll 0 0 / 100% 1146px rgba(0, 0, 0, 0);height:1146px;width: 100%;}
.main3{background: url("images/ba.jpg") no-repeat scroll 0 0 / 100% 15000px rgba(0, 0, 0, 0);height:2040px;width: 100%;}
.head{height:100px;width:100%;float:left;}
.logo{height:100px;width:26%;float:left;}
.logo1{height:100px;width:30%;float:left;}
.logo2{  color: white;float: left;font-size: 58px;font-style: normal;height: 100px;line-height:110px;width: 60%;}
.logo3{  color: #004400;float: left;font-size: 58px;font-style: normal;height: 100px;line-height: 110px;width: 60%;}
.heading{height:100px;width:70%;float:left;}
.heading1{ color: orange;float: left;font-size: 58px;font-weight: bolder;height: 100px;text-align: center;width: 100%;}
.heading2{height:auto;width:100%;float:left;text-align: center;background: url("../images/back.jpg")}
.c1{    float: left;height:517px;width: 30%;}
.c2{  float: left;height: 450px;width: 55%;}
.c2-1{height:150px;width:100%;float:left;}
.c2-1-1{    float: left;height: 150px;	width: 27%;}
.c2-1-2{   border: 5px solid -moz-html-CellHighlight;border-radius: 83px;color:  -moz-menuhover;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}
.c2-1-3{height:150px;width:51%;float:left;}
.c2-2{height:150px;width:100%;float:left;}
.c2-2-1{border: 5px solid -moz-html-CellHighlight;border-radius: 83px;color:  -moz-menuhover;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 20%;}
.c2-2-2{border: 5px solid -moz-html-CellHighlight;border-radius: 83px;color: -moz-menuhover;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 20%;}
.c2-2-3{border: 5px solid -moz-html-CellHighlight;border-radius: 83px;color:  -moz-menuhover;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 20%;}
.c2-3{height:150px;width:100%;float:left;}
.c2-3-1{ float: left;height: 157px;	width: 27%;}
.c2-3-2{border: 5px solid -moz-html-CellHighlight;border-radius: 83px;color:  -moz-menuhover;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;;}
.c2-3-3{height:0px;width:51%;float:left;}
.c3{float: left;height:517px;width: 15%;}
.space1{height:30px;width:100%;float:left;}
.space2{height:150px;width:6%;float:left;}
/*-
.c2-1-23:hover{background-color: tomato;border: 5px solid white;border-radius: 83px;color: white;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}
.c2-2-1:hover{background-color: tomato;border: 5px solid white;border-radius: 83px;color: white;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}
.c2-2-2:hover{background-color: tomato;border: 5px solid white;border-radius: 83px;color: white;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}
.c2-2-3:hover{background-color: tomato;border: 5px solid white;border-radius: 83px;color: white;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}
.c2-3-2:hover{background-color: tomato;border: 5px solid white;border-radius: 83px;color: white;float: left;font-size: 45px;font-weight: bolder;height: 147px;line-height: 145px;width: 21%;}


*/


.location{background-color: tomato;
    border: 5px solid white;
    border-radius: 100px;
    color: white;
    display: none;
    font-size: 19px;
    height: 150px;
    left: -3px;
    position: relative;
    top: -151px;
    width: 153px;}

.c2-1-2:hover .location{display:block;}


.location1{background-color: tomato;
    border: 5px solid white;
    border-radius: 100px;
    color: white;
    display: none;
    font-size: 19px;
    height: 150px;
    left: -3px;
    position: relative;
    top: -151px;
    width: 153px;}

.c2-2-1:hover .location1{display:block;}



.c2-2-2:hover .location1{display:block;}
.c2-2-3:hover .location1{display:block;}
.c2-3-2:hover .location1{display:block;}


/*----===================================================================*/































